@import "../../../../../scss/variables";
@import "../../../../../scss/animations";

.loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.6s;
  -webkit-animation: scale-up-center 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  .message {
    font-weight: 600;
    font-size: 18px;
    transition: all 0.2s;
  }
}

@each $colorName, $value in $colors {
  .#{$colorName}-bg {
    background-color: rgba(var($value), 1);
  }
  .#{$colorName}-bg-no-opacity {
    background-color: rgba(var($value), 0.8);
  }
  .#{$colorName}-text {
    color: rgba(var($value), 1);
    transition: all 0.2s;
  }
}
