<ng-container *ngIf="loader$ | async as loader">
  <div
    tlLoader
    [isBackgroundOpacityEnabled]="loader.isBackgroundOpacityEnabled"
    [backgroundColor]="loader.backgroundColor"
    [messageColor]="loader.messageColor"
    class="loader-wrapper"
  >
    <tl-basic-spinner [color]="loader.spinnerColor"></tl-basic-spinner>

    <div class="message" *ngIf="loader.isMessageDisplayed">
      {{ loader.message }}
    </div>
  </div>
</ng-container>
