<div class="wrapper {{ options.color }}" tlSquare [options]="options">
  <!-- Animation ONE -->
  <div class="animation-1" *ngIf="options.data.animationType === 1"></div>

  <!-- Animation TWO -->
  <div class="animation-2" [ngClass]="{ rounded: options.data.hasRoundedBorder }" *ngIf="options.data.animationType === 2">
    <div class="cube cube-1"></div>
    <div class="cube cube-2"></div>
    <div class="cube cube-3"></div>
    <div class="cube cube-4"></div>
    <div class="cube cube-5"></div>
    <div class="cube cube-6"></div>
    <div class="cube cube-7"></div>
    <div class="cube cube-8"></div>
    <div class="cube cube-9"></div>
  </div>
</div>
