@import "../../../../../scss/variables";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .animation-1 {
    transition: all 0.8s;
  }

  .animation-2 {
    display: grid;
    grid-template-areas: "1 2 3" "4 5 6" "7 8 9";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .animation-2.rounded {
    .cube-1 {
      border-top-left-radius: 10%;
    }
    .cube-3 {
      border-top-right-radius: 10%;
    }
    .cube-7 {
      border-bottom-left-radius: 10%;
    }
    .cube-9 {
      border-bottom-right-radius: 10%;
    }
  }
}

@each $colorName, $value in $colors {
  .#{$colorName} {
    .animation-1 {
      background-color: rgba(var($value), 1);
    }

    .animation-2 {
      .cube {
        background-color: rgba(var($value), 1);
      }
    }
  }
}
