@import "../../../../../scss/variables";
@import "../../../../../scss/animations";

.container {
  width: calc(20rem + 64px);
  display: flex;
  flex-direction: column;
  gap: 40px;

  .result {
    display: flex;
    justify-content: center;
    gap: 8px;

    .selected-digit {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;

      .scale-up-center {
        -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      }

      .fill {
        width: 12px;
        height: 12px;
      }
    }

    .empty {
      background-color: transparent;
    }

    .custom-background {
      background-color: rgba(var(--white-color), 1);
    }

    .delete {
      margin-left: 6px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      fa-icon {
        font-size: 1.2rem;
      }
    }
  }

  @each $colorName, $value in $colors {
    .#{$colorName}-result {
      .selected-digit {
        border: 1px solid rgba(var($value), 1);

        .fill {
          background-color: rgba(var($value), 1);
        }
      }

      .delete {
        color: rgba(var($value), 1);
      }
    }
  }

  .digits {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto;
    gap: 16px;

    .digit {
      width: 2em;
      font-size: 1.5em;
      padding-bottom: 2px;
      display: flex;
      font-weight: 600;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      width: 4rem;
      height: 4rem;
      font-family: "Noto Sans", sans-serif;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @each $colorName, $value in $colors {
    .#{$colorName}-digits {
      @if $colorName == "white" {
        .digit {
          color: rgba(var(--white-color), 1);
          border: 2px solid rgba(var(--white-color), 1);

          &:hover {
            color: rgba(var(--primary-color), 1);
            background-color: rgba(var(--white-color), 1);
          }
        }
      } @else {
        .digit {
          color: rgba(var($value), 1);
          border: 2px solid rgba(var($value), 1);

          &:hover {
            color: rgba(var(--white-color), 1);
            background-color: rgba(var(#{$value}-hover), 1);
          }
        }

        .custom-background {
          background-color: rgba(var(--white-color), 1) !important;
          &:hover {
            background-color: rgba(var(#{$value}-hover), 1) !important;
          }
        }
      }
    }
  }
}

.reverse-position {
  flex-direction: column-reverse;
}

.square_sharp {
  .result {
    .selected-digit {
      border-radius: 25%;
      .fill {
        border-radius: 25%;
      }
    }
  }
  .digits {
    .digit {
      border-radius: 25%;
    }
  }
}

.square {
  .result {
    .selected-digit {
      border-radius: 0;
      .fill {
        border-radius: 0;
      }
    }
  }
  .digits {
    .digit {
      border-radius: 0;
    }
  }
}

.rounded {
  .result {
    .selected-digit {
      border-radius: 50%;
      .fill {
        border-radius: 50%;
      }
    }
  }
  .digits {
    .digit {
      border-radius: 50%;
    }
  }
}
