<div
  class="container {{ digitPasswordInputOptions.style | lowercase }}"
  [ngClass]="{ 'reverse-position': digitPasswordInputOptions.inputPosition === 'BOTTOM' }"
>
  <div class="result {{ digitPasswordInputOptions.color }}-result" *ngIf="!digitPasswordInputOptions.inputResultHidden">
    <div
      class="selected-digit"
      [ngClass]="{ empty: !selectedDigit.value, 'custom-background': digitPasswordInputOptions.whiteBackgroundEnabled }"
      *ngFor="let selectedDigit of selectedDigits"
    >
      <div class="fill scale-up-center" *ngIf="selectedDigit.value !== null"></div>
    </div>
    <button class="delete" (click)="delete()"><fa-icon [icon]="'arrow-left-long' | getIcon"></fa-icon></button>
  </div>

  <div class="digits {{ digitPasswordInputOptions.color }}-digits">
    <button
      class="digit"
      [ngClass]="{ 'custom-background': digitPasswordInputOptions.whiteBackgroundEnabled }"
      (click)="click(number)"
      *ngFor="let number of digits"
    >
      {{ number }}
    </button>
  </div>
</div>
