<ng-container [ngSwitch]="options.category">
  <!-- CIRCLE -->
  <tl-circle *ngSwitchCase="'CIRCLE'" [options]="castAsCircleSpinnerData()"></tl-circle>

  <!-- DOT -->
  <tl-dot *ngSwitchCase="'DOT'" [options]="castAsDotSpinnerData()"></tl-dot>

  <!-- SQUARE -->
  <tl-square *ngSwitchCase="'SQUARE'" [options]="castAsSquareSpinnerData()"></tl-square>

  <!-- SQUARE -->
  <tl-bar *ngSwitchCase="'BAR'" [options]="castAsBarSpinnerData()"></tl-bar>
</ng-container>
