<div class="wrapper" tlDot [options]="options">
  <div class="dots">
    <div *ngFor="let dot of dots" class="dot {{ options.color }} dot-{{ dot }}"></div>
  </div>

  <div class="dots-back" *ngIf="options.data.isBackgroundPathDisplayed">
    <div *ngFor="let dot of dots" class="dot-back {{ options.color }}-back"></div>
  </div>
</div>
