@import "../../../../../scss/variables";

.wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .dots-back {
    position: absolute;
    display: flex;
    justify-content: center;
    width: auto;
    gap: 4px;
    z-index: 2;

    .dot-back {
      border-radius: 50%;
    }

    @each $colorName, $value in $colors {
      .#{$colorName}-back {
        background-color: rgba(var($value), 0.1);
      }
    }
  }

  .dots {
    position: absolute;
    display: flex;
    justify-content: center;
    width: auto;
    gap: 4px;
    z-index: 3;

    .dot {
      border-radius: 50%;
    }

    @each $colorName, $value in $colors {
      .#{$colorName} {
        background-color: rgba(var($value), 1);
      }
    }
  }
}
