@import "../../../../../scss/variables";
@import "../../../../../scss/animations";

:host {
  svg {
    circle {
      fill: none;
      stroke-linecap: round;
      transition: all 0.8s;
    }

    .back-path {
      stroke-dasharray: 0;
    }

    @each $colorName, $value in $colors {
      .#{$colorName} {
        stroke: rgba(var($value), 1);
      }

      .#{$colorName}-back {
        stroke: rgba(var(#{$value}-hover), 0.2);
      }
    }
  }
}
