<svg tlCircle [options]="options">
  <circle class="path {{ options.color }}"></circle>
  <circle class="back-path {{ options.color }}-back" *ngIf="options.data.isBackgroundPathDisplayed"></circle>
</svg>
