.toast-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: absolute;
  max-width: 500px;
  z-index: 9;
  overflow-x: hidden;
  overflow-y: auto;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
