.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;

  & .path {
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

.white {
  & .path {
    stroke: rgba(var(--white-color));
  }
}

.black {
  & .path {
    stroke: rgba(var(--black));
  }
}

.grey {
  & .path {
    stroke: rgba(var(--grey));
  }
}

.primary {
  & .path {
    stroke: rgba(var(--primary-color));
  }
}

.secondary {
  & .path {
    stroke: rgba(var(--secondary-color));
  }
}

.tertiary {
  & .path {
    stroke: rgba(var(--tertiary-color));
  }
}

.success {
  & .path {
    stroke: rgba(var(--success-color));
  }
}

.error {
  & .path {
    stroke: rgba(var(--error-color));
  }
}

.warning {
  & .path {
    stroke: rgba(var(--warning-color));
  }
}

.info {
  & .path {
    stroke: rgba(var(--info-color));
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
