<select [(ngModel)]="selectedColor" (ngModelChange)="changeColor($event)">
  <option [value]="color" *ngFor="let color of colors">{{ color }}</option>
</select>

<select [(ngModel)]="selectedCategory" (ngModelChange)="changeCategory($event)">
  <option [value]="category" *ngFor="let category of categories">{{ category }}</option>
</select>

<select [(ngModel)]="selectedSize" (ngModelChange)="changeSize($event)">
  <option [value]="size" *ngFor="let size of sizes">{{ size }}</option>
</select>

<tl-basic-spinner [options]="basicSpinnerOptions"></tl-basic-spinner>
