@import "../../../../../scss/variables";
@import "../../../../../scss/fonts";

.wrapper {
  margin: 10px 10px 10px 10px;
  background-color: rgba(var(--white-color), 1);
  box-shadow: 3px 5px 7px 0px #cbcbcb;
  border-left: 8px solid;
  border-radius: 5px 0 0 5px;

  .header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    padding: 10px;

    .icon {
      fa-icon {
        font-size: 1.3rem;
      }
    }

    .title {
      font-weight: 600;
      font-family: "Noto Sans", sans-serif;
      font-size: 0.9rem;
    }

    .close {
      border: none;
      background-color: transparent;
      cursor: pointer;

      fa-icon {
        color: rgba(var(--lightgrey-color), 1);
        font-size: 1.2rem;
      }
    }
  }

  .content {
    color: rgba(var(--lightgrey-color), 1);
    font-family: "Noto Sans", sans-serif;
    font-size: 0.85rem;
    margin-left: calc(1.3rem + 20px);
    margin-right: calc(1.2rem + 20px);
    text-align: justify;
  }

  .actions {
    padding: 20px 16px 10px 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      font-family: "Noto Sans", sans-serif;
      cursor: pointer;
      transition: all 0.7s;
    }

    .callback-one {
      background-color: rgba(var(--primary-color), 1);
      color: rgba(var(--primary-color-contrast), 1);

      &:hover {
        background-color: rgba(var(--secondary-color), 1);
        color: rgba(var(--secondary-color-contrast), 1);
      }
    }

    .callback-two {
      &:hover {
        background-color: rgb(218, 218, 218);
      }
    }
  }

  .progress-bar-margin-fixed {
    margin-top: 14px;
  }

  .progress-bar {
    display: flex;
    background-color: rgba(var(--white-color), 1);
    justify-content: flex-end;
    .bar {
      height: 8px;
      transition: all 0.1s;
      border-radius: 4px 0 0 4px;
    }
  }
}

.toast-wrapper {
  display: flex;
  flex-direction: column;
  color: rgba(var(--white-color), 1);
  margin-bottom: 10px;
}

@each $level, $value in $toasts {
  .#{$level} {
    border-left-color: rgba(var($value), 1);

    .header {
      .icon {
        fa-icon {
          color: rgba(var($value), 1);
        }
      }
    }

    .progress-bar {
      .bar {
        background-color: rgba(var($value), 1);
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    .content {
      margin-left: 10px;
      margin-right: 1rem;
    }
  }
}

.left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.exit-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.exit-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

// IN
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
// OUT
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
