<div
  class="wrapper {{ toast.level }} {{ positions.x }}"
  [ngClass]="{ 'exit-left': isFinished && positions.x === 'left', 'exit-right': isFinished && positions.x === 'right' }"
>
  <div class="header">
    <div class="icon"><fa-icon [icon]="toast.level + '-circle-filled' | getIcon"></fa-icon></div>
    <div class="title">{{ toast.title }}</div>
    <button class="close" (click)="close()"><fa-icon [icon]="'close' | getIcon"></fa-icon></button>
  </div>

  <div class="content">{{ toast.message }}</div>

  <div class="actions" *ngIf="toast.actions">
    <button class="callback-one" (click)="toast.actions.primary.callback(toast); close()" *ngIf="toast.actions.primary">
      {{ toast.actions.primary.buttonName }}
    </button>
    <button class="callback-two" (click)="toast.actions.secondary.callback(toast); close()" *ngIf="toast.actions.secondary">
      {{ toast.actions.secondary.buttonName }}
    </button>
  </div>

  <div class="progress-bar" [ngClass]="{ 'progress-bar-margin-fixed': !toast.actions }" *ngIf="toast.duration > 0">
    <div class="bar" [ngStyle]="{ width: width + '%' }"></div>
  </div>
</div>
