:root {
  // Primary color
  --primary-color-rgb: rgb(18, 53, 82);
  --primary-color: 18, 53, 82;
  --primary-color-shadow: 14, 46, 71;
  --primary-color-hover: 24, 57, 84;
  --primary-color-contrast: 255, 255, 255;

  // Secondary color
  --secondary-color-rgb: rgb(4, 32, 55);
  --secondary-color: 4, 32, 55;
  --secondary-color-shadow: 2, 25, 44;
  --secondary-color-hover: 6, 35, 59;
  --secondary-color-contrast: 255, 255, 255;

  // Tertiary color
  --tertiary-color-rgb: rgb(39, 70, 95);
  --tertiary-color: 39, 70, 95;
  --tertiary-color-shadow: 33, 65, 92;
  --tertiary-color-hover: 46, 78, 105;
  --tertiary-color-contrast: 255, 255, 255;

  // Basic colors
  --white-color: 255, 255, 255;
  --grey-color: 116, 116, 116;
  --lightgrey-color: 151, 151, 151;
  --black-color: 0, 0, 0;

  // Success color
  --success-color-rgb: rgb(60, 183, 101);
  --success-color: 60, 183, 101;
  --success-color-shadow: 41, 153, 78;
  --success-color-hover: 72, 194, 112;
  --success-color-contrast: 255, 255, 255;

  // Error color
  --error-color-rgb: rgb(219, 74, 67);
  --error-color: 219, 74, 67;
  --error-color-shadow: 199, 55, 48;
  --error-color-hover: 224, 83, 76;
  --error-color-contrast: 255, 255, 255;

  // Warning color
  --warning-color-rgb: rgb(218, 142, 71);
  --warning-color: 228, 172, 88;
  --warning-color-shadow: 196, 142, 61;
  --warning-color-hover: 224, 173, 96;
  --warning-color-contrast: 255, 255, 255;

  // Info color
  --info-color-rgb: rgb(86, 168, 223);
  --info-color: 86, 168, 223;
  --info-color-shadow: 59, 138, 190;
  --info-color-hover: 96, 170, 219;
  --info-color-contrast: 255, 255, 255;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  // background: black;
}
