@import "../../../../../scss/variables";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .bars {
    transition: all 0.8s;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@each $colorName, $value in $colors {
  .#{$colorName} {
    .bars {
      .bar {
        background-color: rgba(var($value), 1);
      }
    }
  }
}
